.contactContainer {
  background-color: #101010;
  color: #fff;
}

.contactWrapper {
  padding: 3.7rem 1.6rem 2.6rem 1.6rem;
}

.contactHeader span {
  font-size: clamp(1.6rem, 1.6vw, 3rem);
  font-weight: 500;
  line-height: clamp(2rem, 2vw, 3.6rem);
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #4196e3;
}

.contactHeader h2 {
  font-size: clamp(4.5rem, 4.5vw, 9rem);
  font-weight: 400;
  line-height: clamp(4.5rem, 4.5vw, 8.8rem);
  letter-spacing: -0.02em;
  text-align: left;
  /* width: clamp(28rem, 34.3vw, 105.6rem); */
  margin-top: 1.2rem;
}

.contactHeader p {
  font-size: clamp(1.8rem, 1.8vw, 2.2rem);
  font-weight: clamp(400, 400, 500);
  line-height: clamp(2.4rem, 2.4vw, 3rem);
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  /* width: clamp(28rem, 34.3vw, 78.5rem); */
  margin-top: 1.2rem;
}

.contactForm {
  background-color: #000000;
  margin-top: 3.7rem;
  display: grid;
  gap: 1.6rem;
}

.contactForm h3,
.message h3 {
  font-size: clamp(1.6rem, 1.6vw, 2.4rem);
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.contactInput {
  display: grid;
  gap: 1.6rem;
}

.contactForm label {
  /* max-width: 34.3rem; */
  /* width: clamp(34.3rem, 54.3rem, 84.3rem); */
  max-width: 84.3rem;
  width: 98%;
  /* margin: 0 auto; */
  /* height: 7.4rem; */
}

.contactForm label input,
.message textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #dae0e6;
  background-color: #101010;
  font-size: clamp(1.4rem, 1.4vw, 1.8rem);
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-top: 0.8rem;
  color: #919ba7;
}

.contactForm label input {
  height: 4.6rem;
}

.contactForm label input::placeholder,
.message {
  color: #919ba7;
}

.message {
  display: block;
  height: 17.3rem;
  /* width: 34.3rem; */
  /* width: 98%; */
  min-width: 99% !important;
  /* margin: 0 auto; */
  /* padding: 3.7rem 1.6rem 2.6rem 1.6rem; */
  /* width: ; */
}

.message h3 {
  /* margin-top: 1.6rem; */
  color: #fff;
}

.message textarea {
  height: 14.5rem;
  width: 100%;
}

.contactForm button {
  margin-top: clamp(1.6rem, 1.6vw, 2.4rem);
  /* margin-top: 5rem; */
  background-color: #4196e3;
  color: #fff;
  width: clamp(11.4rem, 11.4vw, 30.5rem);
  height: clamp(4.2rem, 4.2vw, 6rem);
  border-radius: 0.7rem;
  font-size: clamp(1.4rem, 1.4vw, 1.8rem);
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 900px) {
  .contactWrapper {
    /* padding-left: clamp(5rem, 5vw, 10.5rem);
    padding-right: clamp(5rem, 5vw, 10.5rem); */
  }

  .contactForm {
    padding: 3.2rem;
  }

  .contactForm label input {
    max-width: 84.3rem;
    /* width: clamp(30rem, 43.5vw, 84.3rem); */
    /* height: 7.4rem; */
  }

  .contactInput {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .contactForm h3,
  .message h3 {
    font-weight: 700;
  }

  .contactForm label input,
  .message textarea {
    font-weight: 500;
    color: #565656;
  }

  .contactForm label input::placeholder,
  .message {
    color: #565656;
  }

  .contactForm button {
    padding: 1.2rem 1.8rem;
    border-radius: 1rem;
    line-height: 22px;
    box-shadow: 0rem 0.1rem 0.2rem 0rem #1018280a;
    justify-self: end;
  }
}
