.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #101010;
}

.logo {
  width: cmap(23.1rem, 23.1vw, 40.7rem);
  height: clamp(3.6340911865234375rem, 3.6340911865234375vw, 6.4rem);
}

.heading {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: clamp(4.5rem, 4.5vw, 9rem);
  line-height: clamp(4.5rem, 4.5vw, 11rem);
  letter-spacing: -2%;
  text-align: center;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  margin: 0.983rem 0rem 2.717rem 0rem;
}

.description {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: clamp(1.8rem, 1.8vw, 2.2rem);
  line-height: clamp(2.4rem, 2.4vw, 3.6rem);
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .heading {
    margin: 1.2rem 0rem;
  }
}
